# to enable localhost subdomains, change http_port from 80 to 8080
{
	http_port 8080
}

# if you wanna reroute your whole localhost!
# http://localhost {
# 	respond "Hello, world!"
# }

http://localhost {
	reverse_proxy fyp-recsys-web:3000
}

# using subdomains in localhost is simple just like that!
http://api.localhost {
	reverse_proxy fyp-recsys-api:9000
}

# prod subdomains
capstone.nbenedictcodes.com {
	reverse_proxy fyp-recsys-web:3000 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}

capstone-api.nbenedictcodes.com {
	reverse_proxy fyp-recsys-api:9000 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}
