[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver 9000"
loaddata = "python manage.py loaddata base/batch_data/courses.json"
admin = "python manage.py createsuperuser --noinput"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-camel-case = "*"
django-debug-toolbar = "*"

[dev-packages]
requests = "*"
beautifulsoup4 = "*"
autopep8 = "*"
pypdf2 = "*"
nltk = "*"

[requires]
python_version = "3.9"
